# Ignore the following data files
# Necessary because data cannot be publicly shared

# Git ignore the following files:

data/data_economy.csv
data/data_long.csv
data/feasibility.csv
data/*.csv

# Ignore the following output so that my results are not pushed to GitHub
# Necessary for independent reproduction of results

# Git ignore the following results output files

results/feasibility/feasibility_rates.txt
results/feasibility/flow.txt
results/mixed_model_data/*.csv
results/paired_data/*.csv
results/tables/*.csv

# Git ignore the following plot output files

plots/mixed_model_plots/assump_plots/*.png
plots/mixed_model_plots/assump_plots/*.eps
plots/mixed_model_plots/mixed_model_res/*.png
plots/mixed_model_plots/mixed_model_res/*.eps
plots/pair_diff_plots/*.png
plots/pair_diff_plots/*.eps
plots/pair_plots/*.png
plots/pair_plots/*.eps

# Other

.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore these files too
01_main_manuscript.pdf
01_main_manuscript.Rmd
02_supplementary_materials.Rmd
03_supplementary_results.Rmd
*.docx
*.aux
*.log
*.out
*.tex
Fig*

# Latex output files

*.aux
*.fdb_latexmk
*.fls
*.lot
*.out
*.toc